<footer class="">
  <div class="footer pt-60 pb-60" id="footer">
    <div class="container-fluid">
      <div class="row">
        <!-- HORIZONTAL SEPARATE -->
        <div class="col-md-12">
          <div class="separate mb-60"></div>
        </div>
        <!-- / HORIZONTAL SEPARATE -->

        <div class="smartphone-fw col-sm-3 mb-30">
          <h6 class="heading mt-0">CONTACT DATA</h6>
          <address class="small">
                                  <strong>White Horse Vapor Denver</strong><br>
                                  8601 W Cross Dr.<br>
                                  Denver, CO 80123<br>
                                  (303) 904-6932
                              </address>
        </div>
        <div class="smartphone-fw col-xs-6 col-sm-4 col-md-2 mb-30">
          <h6 class="heading mt-0">INFORMATION</h6>
          <ul>
            <li> <a (click)="onPageLinkClick('/home')"> Home </a> </li>
            <li> <a (click)="onPageLinkClick('/about')"> About </a> </li>
            <li> <a (click)="onPageLinkClick('/contact')"> Contact </a> </li>
            <li> <a (click)="onPageLinkClick('/blog')"> Blog </a> </li>
          </ul>
        </div>

        <div class="smartphone-fw col-xs-6 col-sm-4 col-md-2 mb-30">
          <h6 class="heading mt-0">TOP CATEGORIES</h6>
          <ul>
            <li> <a (click)="onDepartmentClick( 'E-Liquid' )"> E-Liquid </a> </li>
            <li> <a (click)="onDepartmentClick( 'Hardware' )"> Hardware </a> </li>
            <li> <a (click)="onDepartmentClick( 'Accessories' )"> Accessories </a> </li>
          </ul>
        </div>

        <div class="smartphone-fw col-xs-6 col-sm-4 col-md-2 mb-30">
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <h6 class="heading mt-0">STAY IN TOUCH</h6>

          <form>
            <fieldset>
              <div class="form-group">
                <div class="footer-newsletter">
                  <input type="email" class="form-control" required [(ngModel)]="email_address" name="email" placeholder="your email">
                  <button class="btn btn-link" type="button" (click)="sendEmail()"><span class="ti-plus"></span></button>
                </div>
              </div>
            </fieldset>
          </form>

          <div *ngIf="alert_message" class="mt-20">
            <alert [type]="alert_type"><span [innerHtml]="alert_message"></span></alert>
          </div>

          <ul class="footer-social" data-wow-delay="0.6s">
            <li><a href="https://www.facebook.com/whdenver/" class="pull-left"><span class="ti-facebook"></span></a></li>
            <li><a href="https://twitter.com/WhvaporDenver" class="pull-left"><span class="ti-twitter"></span></a></li>
            <li><a href="https://www.instagram.com/whitehorsevapordenver/" class="pull-left"><span class="ti-instagram"></span></a></li>
            <li><a href="https://www.youtube.com/channel/UCfDDtMxJn3u7VRBaAfyWkjw" class="pull-left"><span class="ti-youtube"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left"> Copyright © White Horse Vapor Denver 2017. All right reserved. </p>
    </div>
  </div>
</footer>
