<!-- HOME SLIDER -->
<carousel class="hidden-sm">
  <slide>
    <img class="img-responsive carousel-image" src="assets/img/slider/slide-01.jpg" alt="First slide">
  </slide>
  <slide>
    <img class="img-responsive carousel-image" src="assets/img/slider/slide-02.jpg" alt="Second slide">
  </slide>
  <slide>
    <img class="img-responsive carousel-image" src="assets/img/slider/slide-03.jpg" alt="Third slide">
  </slide>
</carousel>


<div class="col-md-12">
  <!-- PRODUCTS ROW -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mt-30 mb-30 width-100 pull-left">
        <h3>New Products</h3>
      </div>
    </div>
    <div class="row">
      <!-- PRODUCT SINGLE -->
      <div class="col-md-3 col-sm-6" *ngFor="let listing of new_listings">
        <div class="product-item">
          <div class="product-item-thumbnail text-center mb-15" (click)="onProductClick( listing )">
            <a class="product-item-thumbnail-link"></a>
            <span class="product-item-thumbnail-label">new</span>
            <img src="{{listing.big_image_url}} || assets/img/products/product-01.jpg" class="img-responsive center-cropped" alt="product image">
            <div class="product-item-thumbnail-overlay">
              <a class="btn btn-primary">View Product</a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a class="h5" (click)="onProductClick( listing )">{{listing.name}}</a>
            </div>

            <div class="col-xs-6 text-right">
              <span class="h5 product-item-price">{{listing.price | currency:"USD":2}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- / PRODUCT SINGLE-->
    </div>
  </div>
  <!-- / PRODUCTS ROW -->
  <!-- INFO ROW -->
  <div class="container-fluid mt-30 mb-30">
    <div class="row">
      <!-- HORIZONTAL SEPARATE -->
      <div class="col-md-12">
        <div class="separate mb-60"></div>
      </div>
    </div>
    <div class="row">
      <!-- / HORIZONTAL SEPARATE -->
      <!-- SINGLE INFO BOX -->
      <div class="col-md-3 info-box">
        <span class="ti-mobile info-box-icon mt-10 mr-10"></span>
        <h5 class="info-box-text">Call Inquiries<br>
                        <span class="text-muted">(303) 904-6932</span>
                    </h5>
      </div>
      <!-- SINGLE INFO BOX -->

      <!-- SINGLE INFO BOX -->
      <div class="col-md-3 info-box">
        <span class="ti-user info-box-icon mt-10 mr-10"></span>
        <h5 class="info-box-text">Experienced<br>
                        <span class="text-muted">Professionals</span>
                    </h5>
      </div>
      <!-- SINGLE INFO BOX -->

      <!-- SINGLE INFO BOX -->
      <div class="col-md-3 info-box">
        <span class="ti-shopping-cart info-box-icon mt-10 mr-10"></span>
        <h5 class="info-box-text">Great<br>
                        <span class="text-muted">Products</span>
                    </h5>
      </div>
      <!-- SINGLE INFO BOX -->

      <!-- SINGLE INFO BOX -->
      <div class="col-md-3 info-box">
        <span class="ti-comments info-box-icon mt-10 mr-10"></span>
        <h5 class="info-box-text">Attentive<br>
                        <span class="text-muted">Customer Service</span>
                    </h5>
      </div>
      <!-- SINGLE INFO BOX -->
    </div>
    <div class="row">
      <!-- HORIZONTAL SEPARATE -->
      <div class="col-md-12">
        <div class="separate mt-60"></div>
      </div>
      <!-- / HORIZONTAL SEPARATE -->
    </div>
  </div>
  <!-- / INFO ROW -->
  <!-- HOME SPECIAL -->
  <div class="container-fluid mt-60">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 mb-30">
            <div class="promo-box">
              <img src="assets/img/products/composition-1.jpg" class="img-responsive" alt="product image">
              <div class="promo-box-content">
                <div class="text-center mr-30">
                  <h3 class="mb-15 light">mid season<br>sale!</h3>
                  <a href="#" class="btn btn-primary">details <span class="ti-angle-right"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 mb-30">
            <div class="promo-box">
              <img src="assets/img/products/composition-2.jpg" class="img-responsive" alt="product image">
              <div class="promo-box-content">
                <div class="text-center mr-30">
                  <h3 class="mb-15 light">new<br>sizes!</h3>
                  <a href="#" class="btn btn-primary">details <span class="ti-angle-right"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--/ HOME SPECIAL  -->
  <!-- PRODUCTS ROW -->
  <div class="container-fluid mt-30">
    <div class="row">
      <div class="col-md-12 mb-30 pull-left">
        <h3>Featured Products</h3>
      </div>
    </div>
    <div class="row">
      <!-- PRODUCT SINGLE -->
      <div class="col-md-3 col-sm-6" *ngFor="let listing of featured_listings" (click)="onProductClick( listing )">
        <div class="product-item">
          <div class="product-item-thumbnail text-center mb-15">
            <a class="product-item-thumbnail-link"></a>
            <img src="{{listing.big_image_url}} || assets/img/products/product-01.jpg" class="img-responsive center-cropped" alt="product image">
            <div class="product-item-thumbnail-overlay">
              <a class="btn btn-primary">View Product</a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a class="h5" (click)="onProductClick( listing )">{{listing.name}}</a>
            </div>

            <div class="col-xs-6 text-right">
              <span class="h5 product-item-price">{{listing.price | currency:"USD":2}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- / PRODUCT SINGLE-->
    </div>
  </div>
  <!-- / PRODUCTS ROW -->

  <!-- HOME SPECIAL -->
  <div class="container-fluid mt-60">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 mb-30 hoverable" (click)="onDepartmentClick( 'E-Liquid' )">
            <div class="promo-box">
              <img src="assets/img/products/composition-3.jpg" class="img-responsive" alt="product image">
              <div class="promo-box-content">
                <div class="text-center mr-30">
                  <h3 class="mb-15 light">Juice</h3>
                  <a class="btn btn-primary" (click)="onDepartmentClick( 'E-Liquid' )">View <span class="ti-angle-right"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 mb-30 hoverable" (click)="onDepartmentClick( 'Hardware' )">
            <div class="promo-box">
              <img src="assets/img/products/composition-4.png" class="img-responsive" alt="product image">
              <div class="promo-box-content">
                <div class="text-center mr-30">
                  <h3 class="mb-15 light">Hardware</h3>
                  <a class="btn btn-primary" (click)="onDepartmentClick( 'E-Liquid' )">View <span class="ti-angle-right"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--/ HOME SPECIAL  -->
</div>
