<header class="navbar navbar-container mb-0 hidden-md hidden-sm hidden-xs">
  <div class="container-fluid">
    <nav class="navbar-default sidebar pb-30">
      <div class="container-fluid">
        <div class="navbar-header text-center hoverable">
          <img src="assets/img/logo.png" alt="store logo" class="width-50 mt-30 mb-30" (click)="clickLogoLink()">
          <span class="navbar-header-title mb-0" (click)="clickLogoLink()">WHITE HORSE VAPOR DENVER
          </span>
        </div>

        <div>
          <ul class="navbar-laguages pt-30 mb-30">
            <li class="navbar-link"><a (click)="clickLogoLink()">Home</a></li>
            <li class="navbar-link"><a (click)="clickContactLink()">Contact</a></li>
            <li class="navbar-link"><a (click)="clickAboutLink()">About</a></li>
          </ul>

          <ul class="nav navbar-nav nav navbar-nav side-nav text-center">
            <li *ngFor="let department of departments" class="active" (click)="clickLink(department.name)">
              <a>{{department.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>

<nav class="navbar navbar-default navbar-fixed-top hidden-lg hidden-xl navbar-mobile">
  <div class="navbar-header ml-15 hoverable">
    <span class="ti-menu info-box-icon mt-15 mr-10" (click)="toggleNavbar()" *ngIf="navbarState=='out'"></span>
    <span class="ti-close info-box-icon mt-15 mr-10" (click)="toggleNavbar()" *ngIf="navbarState=='in'"></span>
  </div>
</nav>

<nav class="navbar navbar-default hidden-lg hidden-xl navbar-mobile invisible">
  <div class="navbar-header ml-15 hoverable" *ngIf="navbarState">
    <span class="ti-menu info-box-icon mt-15 mr-10" (click)="toggleNavbar()"></span>
  </div>
</nav>


<header class="navbar navbar-container mb-0 hidden-lg hidden-xl slide-navbar" [@slideInOut]="navbarState">
  <div class="container-fluid">
    <nav class="navbar-default sidebar pb-30">
      <div class="container-fluid">

        <div>
          <ul class="navbar-laguages pt-30 mb-30">
            <li class="navbar-link"><a (click)="clickLogoLink()">Home</a></li>
            <li class="navbar-link"><a (click)="clickContactLink()">Contact</a></li>
            <li class="navbar-link"><a (click)="clickAboutLink()">About</a></li>
          </ul>

          <ul class="nav navbar-nav nav navbar-nav side-nav text-center">
            <li *ngFor="let department of departments" class="active" (click)="clickLink(department.name)">
              <a>{{department.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
