.slide-navbar{
    width: auto;
    max-width: 500px;
    height: 100%;
    position: fixed;
    z-index: 9999;
    margin-top: 55px;
    background-color: rgb( 255 , 255 , 255 );
}

.active-link{
    color: rgb( 85 , 85 , 85);
}

.navbar-title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2vw;
}
