<div class="container-fluid">
  <div class="row center-block">

    <!-- Loading animation -->
    <div class="loader" *ngIf="loading">Loading...</div>
    <!-- End Loading animation -->

    <div class="col-md-7">
      <img src="{{listing.image_url || 'assets/img/products/product-01.jpg'}}" class="mt-60 product-image img-responsive" />
    </div>
    <div class="clearfix visible-xs visible-sm"></div>
    <div class="col-md-5">
      <!-- PRODUCT TITLE -->
      <h3 class="pull-left width-100 mt-60">{{listing.name}} <br><span class="text-muted small">code: {{listing.blid}}</span>
            </h3>
      <!-- / PRODUCT TITLE -->


      <div class="product-buy">
        <span class="h2 product-price">{{listing.price | currency:"USD":2}}</span>
      </div>

      <legend>Product Information</legend>

      <div class="row pl-15">
        <div class="col-xs-8">
          <div class="row">
            <h5 class="pull-left">Manufacturer</h5>
            <h5 class="text-muted pull-right">{{listing.brand_name}}</h5>
          </div>
          <div class="row">
            <h5 class="pull-left">Reference</h5>
            <h5 class="text-muted pull-right">{{listing.secondary_barcode || 'None'}}</h5>
          </div>
          <div class="row">
            <h5 class="pull-left">In Stock</h5>
            <h5 class="text-muted pull-right">{{listing.quantity}}</h5>
          </div>
        </div>

        <div class="col-xs-4">
        </div>
      </div>
      <!-- SOCIAL SECTION -->
      <div class="width-100">

        <ul class="social-network social-circle">
          <li><a href="https://www.facebook.com/whdenver/" class="icoFacebook" title="Facebook"><i class="ti-facebook"></i></a></li>
          <li><a href="https://twitter.com/WhvaporDenver" class="icoTwitter" title="Twitter"><i class="ti-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/whitehorsevapordenver/" class="icoGoogle" title="Instagram"><i class="ti-instagram"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCfDDtMxJn3u7VRBaAfyWkjw" class="icoLinkedin" title="YouTube"><i class="ti-youtube"></i></a></li>
        </ul>
      </div>
      <!-- / SOCIAL SECTION -->
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="col-md-12 mt-20">
    <div class="row product-detail-row ml-0 product-detail-row-full shadow">
      <div class="col-md-12 product-info pl-30 pr-45">
        <ul id="myTab" class="nav nav-tabs nav_tabs mb-30">
          <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
        </ul>

        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="service-one">
            <div class="width-100 text-left section-small-padding">
              <p>{{listing.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-60">

      <div class="col-xs-1 col-md-3"></div>

      <div class="col-xs-10 col-md-6 border product-description-row pt-20 pb-20 pr-40 pl-40">
        <div class="form-area">
          <form>
            <h3>Ask about this product</h3>
            <div class="form-group">
              <input type="text" class="form-control" id="name" name="name" placeholder="Name" required [(ngModel)]="name">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" id="email" name="email" placeholder="Email" required [(ngModel)]="email_address">
            </div>

            <div class="form-group">
              <textarea class="form-control" required [(ngModel)]="text" name="message" placeholder="Message" maxlength="500" rows="7"></textarea>
            </div>

            <button type="button" name="submit" class="btn btn-primary btn-block" (click)="sendEmail()">Send Email</button>
          </form>
        </div>
        <div *ngIf="alert_message" class="mt-20">
          <alert [type]="alert_type"><span [innerHtml]="alert_message"></span></alert>
        </div>
      </div>

      <div class="col-xs-1 col-md-3"></div>
    </div>
  </div>
