<!--<div class="container-fluid main-wrapper">-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-30 mb-30 width-100 pull-left width-100">
      <h3 class="pull-left">category name <span class="text-muted small">showing: 32 products</span>
            </h3>

      <div class="dropdown pull-right mt-15 pr-15 smartphone-inline-fw">
        <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" id="dropdownMenu1" type="button" class="btn btn-default btn-sm dropdown-toggle">
                sort by name A-Z
                <span class="ti-angle-down"></span>
                </button>
        <ul aria-labelledby="dropdownMenu1" class="dropdown-menu">
          <li><a href="#">name A-Z</a></li>
          <li><a href="#">name Z-A</a></li>
          <li><a href="#">price <span class="ti-arrow-up"></span></a></li>
          <li><a href="#">price <span class="ti-arrow-down"></span></a></li>
          <li><a href="#">date <span class="ti-arrow-up"></span></a></li>
          <li><a href="#">date <span class="ti-arrow-down"></span></a></li>
          <li class="divider" role="separator"></li>
          <li><a href="#">show only specials</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- PRODUCTS ROW -->
      <div class="container-fluid">
        <div class="row flex-list">
          <!-- PRODUCT SINGLE -->
          <div class="col-md-3 col-sm-6">
            <div class="product-item">
              <div class="product-item-thumbnail text-center mb-15">
                <a class="product-item-thumbnail-link" href="#"></a>
                <span class="product-item-thumbnail-label">new</span>
                <img src="assets/img/products/product-01.jpg" class="img-responsive" alt="product image">
                <div class="product-item-thumbnail-overlay">
                  <a href="#" class="btn btn-default pulse"><span class="ti-heart mr-0"></span></a>
                  <a href="#" class="btn btn-primary">add to cart</a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <a class="h5" href="#">Product name</a>
                </div>

                <div class="col-xs-6 text-right">
                  <del class="h5 text-muted product-item-price-old">$99.00</del>
                  <span class="h5 product-item-price">$49.00</span>
                </div>
              </div>
            </div>
          </div>
          <!-- / PRODUCT SINGLE-->
          <!-- PRODUCT SINGLE -->
          <div class="col-md-3 col-sm-6">
            <div class="product-item">
              <div class="product-item-thumbnail text-center mb-15">
                <a class="product-item-thumbnail-link" href="#"></a>
                <img src="assets/img/products/product-01.jpg" class="img-responsive" alt="product image">
                <div class="product-item-thumbnail-overlay">
                  <a href="#" class="btn btn-default pulse"><span class="ti-heart mr-0"></span></a>
                  <a href="#" class="btn btn-primary">add to cart</a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <a class="h5" href="#">Product name</a>
                </div>

                <div class="col-xs-6 text-right">
                  <del class="h5 text-muted product-item-price-old">$99.00</del>
                  <span class="h5 product-item-price">$49.00</span>
                </div>
              </div>
            </div>
          </div>
          <!-- / PRODUCT SINGLE-->
          <!-- PRODUCT SINGLE -->
          <div class="col-md-3 col-sm-6">
            <div class="product-item">
              <div class="product-item-thumbnail text-center mb-15">
                <a class="product-item-thumbnail-link" href="#"></a>
                <span class="product-item-thumbnail-label">new</span>
                <img src="assets/img/products/product-01.jpg" class="img-responsive" alt="product image">
                <div class="product-item-thumbnail-overlay">
                  <a href="#" class="btn btn-default pulse"><span class="ti-heart mr-0"></span></a>
                  <a href="#" class="btn btn-primary">add to cart</a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <a class="h5" href="#">Product name</a>
                </div>

                <div class="col-xs-6 text-right">
                  <del class="h5 text-muted product-item-price-old">$99.00</del>
                  <span class="h5 product-item-price">$49.00</span>
                </div>
              </div>
            </div>
          </div>
          <!-- / PRODUCT SINGLE-->
          <!-- PRODUCT SINGLE -->
          <div class="col-md-3 col-sm-6">
            <div class="product-item">
              <div class="product-item-thumbnail text-center mb-15">
                <a class="product-item-thumbnail-link" href="#"></a>
                <img src="assets/img/products/product-01.jpg" class="img-responsive" alt="product image">
                <div class="product-item-thumbnail-overlay">
                  <a href="#" class="btn btn-default pulse"><span class="ti-heart mr-0"></span></a>
                  <a href="#" class="btn btn-primary">add to cart</a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <a class="h5" href="#">Product name</a>
                </div>

                <div class="col-xs-6 text-right">
                  <del class="h5 text-muted product-item-price-old">$99.00</del>
                  <span class="h5 product-item-price">$49.00</span>
                </div>
              </div>
            </div>
          </div>
          <!-- / PRODUCT SINGLE-->
          <!-- PRODUCT SINGLE -->
          <div class="col-md-3 col-sm-6">
            <div class="product-item">
              <div class="product-item-thumbnail text-center mb-15">
                <a class="product-item-thumbnail-link" href="#"></a>
                <img src="assets/img/products/product-01.jpg" class="img-responsive" alt="product image">
                <div class="product-item-thumbnail-overlay">
                  <a href="#" class="btn btn-default pulse"><span class="ti-heart mr-0"></span></a>
                  <a href="#" class="btn btn-primary">add to cart</a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <a class="h5" href="#">Product name</a>
                </div>

                <div class="col-xs-6 text-right">
                  <del class="h5 text-muted product-item-price-old">$99.00</del>
                  <span class="h5 product-item-price">$49.00</span>
                </div>
              </div>
            </div>
          </div>
          <!-- / PRODUCT SINGLE-->
          <!-- PRODUCT SINGLE -->
          <div class="col-md-3 col-sm-6">
            <div class="product-item">
              <div class="product-item-thumbnail text-center mb-15">
                <a class="product-item-thumbnail-link" href="#"></a>
                <img src="assets/img/products/product-01.jpg" class="img-responsive" alt="product image">
                <div class="product-item-thumbnail-overlay">
                  <a href="#" class="btn btn-default pulse"><span class="ti-heart mr-0"></span></a>
                  <a href="#" class="btn btn-primary">add to cart</a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <a class="h5" href="#">Product name</a>
                </div>

                <div class="col-xs-6 text-right">
                  <del class="h5 text-muted product-item-price-old">$99.00</del>
                  <span class="h5 product-item-price">$49.00</span>
                </div>
              </div>
            </div>
          </div>
          <!-- / PRODUCT SINGLE-->
          <!-- PRODUCT SINGLE -->
          <div class="col-md-3 col-sm-6">
            <div class="product-item">
              <div class="product-item-thumbnail text-center mb-15">
                <a class="product-item-thumbnail-link" href="#"></a>
                <img src="assets/img/products/product-01.jpg" class="img-responsive" alt="product image">
                <div class="product-item-thumbnail-overlay">
                  <a href="#" class="btn btn-default pulse"><span class="ti-heart mr-0"></span></a>
                  <a href="#" class="btn btn-primary">add to cart</a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <a class="h5" href="#">Product name</a>
                </div>

                <div class="col-xs-6 text-right">
                  <del class="h5 text-muted product-item-price-old">$99.00</del>
                  <span class="h5 product-item-price">$49.00</span>
                </div>
              </div>
            </div>
          </div>
          <!-- / PRODUCT SINGLE-->
          <!-- PRODUCT SINGLE -->
          <div class="col-md-3 col-sm-6">
            <div class="product-item">
              <div class="product-item-thumbnail text-center mb-15">
                <a class="product-item-thumbnail-link" href="#"></a>
                <img src="assets/img/products/product-01.jpg" class="img-responsive" alt="product image">
                <div class="product-item-thumbnail-overlay">
                  <a href="#" class="btn btn-default pulse"><span class="ti-heart mr-0"></span></a>
                  <a href="#" class="btn btn-primary">add to cart</a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <a class="h5" href="#">Product name</a>
                </div>

                <div class="col-xs-6 text-right">
                  <del class="h5 text-muted product-item-price-old">$99.00</del>
                  <span class="h5 product-item-price">$49.00</span>
                </div>
              </div>
            </div>
          </div>
          <!-- / PRODUCT SINGLE-->
        </div>
      </div>
      <!-- / PRODUCTS ROW -->

      <!-- PAGINATION -->
      <div class="width-100">
        <div class="widget-pagination pull-left pl-15">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- / PAGINATION -->
    </div>
    <div class="col-md-12">
      <!-- FOOTER -->
      <footer class="">
        <div class="footer pt-60 pb-60" id="footer">
          <div class="container-fluid">
            <div class="row">
              <!-- HORIZONTAL SEPARATE -->
              <div class="col-md-12">
                <div class="separate mb-60"></div>
              </div>
              <!-- / HORIZONTAL SEPARATE -->

              <div class="smartphone-fw col-sm-3 mb-30">
                <h6 class="heading mt-0">CONTACT DATA</h6>
                <address class="small">
                                        <strong>Vega store</strong><br>
                                        1355 Market Street, Suite 900<br>
                                        San Francisco, CA 94103<br>
                                        (123) 456-7890
                                    </address>
              </div>
              <div class="smartphone-fw col-xs-6 col-sm-4 col-md-2 mb-30">
                <h6 class="heading mt-0">INFORMATION</h6>
                <ul>
                  <li> <a href="#"> Lorem Ipsum </a> </li>
                  <li> <a href="#"> Lorem Ipsum </a> </li>
                  <li> <a href="#"> Lorem Ipsum </a> </li>
                  <li> <a href="#"> Lorem Ipsum </a> </li>
                </ul>
              </div>

              <div class="smartphone-fw col-xs-6 col-sm-4 col-md-2 mb-30">
                <h6 class="heading mt-0">TOP CATEGORIES</h6>
                <ul>
                  <li> <a href="#"> Lorem Ipsum </a> </li>
                  <li> <a href="#"> Lorem Ipsum </a> </li>
                  <li> <a href="#"> Lorem Ipsum </a> </li>
                  <li> <a href="#"> Lorem Ipsum </a> </li>
                </ul>
              </div>

              <div class="smartphone-fw col-xs-6 col-sm-4 col-md-2 mb-30">
                <h6 class="heading mt-0">ACCOUNT</h6>
                <ul>
                  <li> <a href="#"> Lorem Ipsum </a> </li>
                  <li> <a href="#"> Lorem Ipsum </a> </li>
                  <li> <a href="#"> Lorem Ipsum </a> </li>
                  <li> <a href="#"> Lorem Ipsum </a> </li>
                </ul>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-3">
                <h6 class="heading mt-0">STAY IN TOUCH</h6>

                <form>
                  <fieldset>
                    <div class="form-group">
                      <div class="footer-newsletter">
                        <input class="form-control" id="firstName" placeholder="your e-mail" type="text">
                        <button class="btn btn-link" type="button"><span class="ti-plus"></span></button>
                      </div>
                    </div>
                  </fieldset>
                </form>

                <ul class="footer-social" data-wow-delay="0.6s">
                  <li><a href="#" class="pull-left"><span class="ti-facebook"></span></a></li>
                  <li><a href="#" class="pull-left"><span class="ti-twitter"></span></a></li>
                  <li><a href="#" class="pull-left"><span class="ti-instagram"></span></a></li>
                  <li><a href="#" class="pull-left"><span class="ti-youtube"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-bottom">
          <div class="container">
            <p class="pull-left"> Copyright © VEGA 2017. All right reserved. </p>
          </div>
        </div>
      </footer>
      <!-- / FOOTER -->
    </div>
  </div>
</div>
