<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 mt-30 mb-30 width-100 pull-left">
            <h3>Post Title <span class="text-muted small smartphone-inline-fw">22.10.2017</span>
							</h3>
          </div>
          <div class="col-md-9">
            <!-- PROMO BOX LARGE -->
            <div class="container-fluid mt-0">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12 no-padding">
                      <div class="promo-box">
                        <img src="assets/img/products/composition-3.jpg" class="img-responsive width-100" alt="product image">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / PROMO BOX LARGE -->

            <!-- TEXT CONTAINER -->
            <div class="text-container">
              <p class="large mt-30">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <p class="mt-30 mb-30">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br><br>                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit
                amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
            <!-- / TEXT CONTAINER -->
          </div>
          <div class="col-md-3">
            <div class="width-100 pull-left">
              <h5 class="mt-0">Related posts</h5>

              <!-- SINGLE POST ITEM  -->
              <div class="width-100 mb-15 pull-left">
                <a href="#">
                  <img src="assets/img/blog/cover-01.jpg" class="width-40 pull-left" alt="cover image">

                  <h6 class="mt-0 mb-20 width-60 pl-15 pull-left">
										Excepteur sint occ aecat cup idatat non
										proident.</h6>
                </a>
              </div>
              <!-- / SINGLE POST ITEM  -->

              <!-- SINGLE POST ITEM  -->
              <div class="width-100 mb-15 pull-left">
                <a href="#">
                  <img src="assets/img/blog/cover-01.jpg" class="width-40 pull-left" alt="cover image">

                  <h6 class="mt-0 mb-20 width-60 pl-15 pull-left">
										Excepteur sint occ aecat cup idatat non
										proident.</h6>
                </a>
              </div>
              <!-- / SINGLE POST ITEM  -->

              <!-- SINGLE POST ITEM  -->
              <div class="width-100 mb-15 pull-left">
                <a href="#">
                  <img src="assets/img/blog/cover-01.jpg" class="width-40 pull-left" alt="cover image">

                  <h6 class="mt-0 mb-20 width-60 pl-15 pull-left">
										Excepteur sint occ aecat cup idatat non
										proident.</h6>
                </a>
              </div>
              <!-- / SINGLE POST ITEM  -->

              <!-- SINGLE POST ITEM  -->
              <div class="width-100 mb-15 pull-left">
                <a href="#">
                  <img src="assets/img/blog/cover-01.jpg" class="width-40 pull-left" alt="cover image">

                  <h6 class="mt-0 mb-20 width-60 pl-15 pull-left">
										Excepteur sint occ aecat cup idatat non
										proident.</h6>
                </a>
              </div>
              <!-- / SINGLE POST ITEM  -->

              <!-- SINGLE POST ITEM  -->
              <div class="width-100 mb-15 pull-left">
                <a href="#">
                  <img src="assets/img/blog/cover-01.jpg" class="width-40 pull-left" alt="cover image">

                  <h6 class="mt-0 mb-20 width-60 pl-15 pull-left">
										Excepteur sint occ aecat cup idatat non
										proident.</h6>
                </a>
              </div>
              <!-- / SINGLE POST ITEM  -->

              <!-- SINGLE POST ITEM  -->
              <div class="width-100 mb-15 pull-left">
                <a href="#">
                  <img src="assets/img/blog/cover-01.jpg" class="width-40 pull-left" alt="cover image">

                  <h6 class="mt-0 mb-20 width-60 pl-15 pull-left">
										Excepteur sint occ aecat cup idatat non
										proident.</h6>
                </a>
              </div>
              <!-- / SINGLE POST ITEM  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
