<div class="container-fluid" *ngIf="currentBlog">
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 mt-30 mb-30 width-100 pull-left">
            <h3>{{currentBlog.title}} <span class="text-muted small smartphone-inline-fw">{{currentBlog.created_at | date: 'MMM, dd yyyy'}}</span></h3>
            <h4 class="text-muted">{{currentBlog.author}}</h4>
          </div>
          <div class="col-md-8">
            <!-- PROMO BOX LARGE -->
            <div class="container-fluid mt-0">
              <div class="row">
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-md-12 no-padding">
                      <div class="promo-box">
                        <img src="{{currentBlog.image_url}}" class="img-responsive width-100" alt="product image">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / PROMO BOX LARGE -->

            <!-- TEXT CONTAINER -->
            <div class="text-container">
              <div class="large mt-30" [innerHtml]="currentBlog.body">
              </div>
            </div>
            <!-- / TEXT CONTAINER -->
          </div>
          <div class="col-md-4">
            <div class="width-100 pull-left">
              <h5 class="mt-0">Related posts</h5>

              <!-- SINGLE POST ITEM  -->
              <div class="width-100 mb-15 pull-left" *ngFor="let blog of blogs">
                <a (click)="onBlogPostClick(blog.title)">
                  <img src="{{blog.image_url}}" class="width-40 pull-left" alt="cover image">
                  <h6 class="mt-0 mb-20 width-60 pl-15 pull-left ellipsis">{{blog.title}}</h6>
                </a>
              </div>
              <!-- / SINGLE POST ITEM  -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
