<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-30 mb-30 width-100 pull-left width-100">
      <h3 class="pull-left">{{department}} <span class="text-muted small">showing: {{currentNumItems}} products</span>
            </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- PRODUCTS ROW -->
      <div class="container-fluid">
        <div class="row flex-list">
          <!-- PRODUCT SINGLE -->
          <div class="col-md-3 col-sm-6" *ngFor="let listing of listings">
            <div class="product-item">
              <div class="product-item-thumbnail text-center mb-15" (click)="onProductClick(listing.blid)">
                <a class="product-item-thumbnail-link"></a>
                <img src="{{listing.big_image_url || 'assets/img/products/product-01.jpg'}}" class="img-responsive center-cropped" alt="product image">
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <a class="h5" (click)="onProductClick(listing.blid)">{{listing.name}}</a>
                  <h5 class="text-muted">{{listing.quantity}} in stock</h5>
                </div>

                <div class="col-xs-6 text-right">
                  <span class="h5 product-item-price">{{listing.price | currency:"USD":2}}</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Display error message if no products found -->
          <div *ngIf="displayError">
            <h3>Sorry, we did not find any products for this department.</h3>
          </div>
        </div>
        <!-- / PRODUCTS ROW -->

        <!-- PAGINATION -->
        <div class="col-md-6">
          <pagination [directionLinks]="false" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
        </div>
        <!-- / PAGINATION -->
      </div>
    </div>
  </div>
