<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-30 mb-30 width-100 pull-left width-100">
      <h3 class="pull-left">{{department}} <span class="text-muted small">showing: 32 products</span>
            </h3>

      <div class="dropdown pull-right mt-15 pr-15 smartphone-inline-fw">
        <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" id="dropdownMenu1" type="button" class="btn btn-default btn-sm dropdown-toggle">
                sort by name A-Z
                <span class="ti-angle-down"></span>
                </button>
        <ul aria-labelledby="dropdownMenu1" class="dropdown-menu">
          <li><a href="#">name A-Z</a></li>
          <li><a href="#">name Z-A</a></li>
          <li><a href="#">price <span class="ti-arrow-up"></span></a></li>
          <li><a href="#">price <span class="ti-arrow-down"></span></a></li>
          <li><a href="#">date <span class="ti-arrow-up"></span></a></li>
          <li><a href="#">date <span class="ti-arrow-down"></span></a></li>
          <li class="divider" role="separator"></li>
          <li><a href="#">show only specials</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- PRODUCTS ROW -->
      <div class="container-fluid">
        <div class="row flex-list">
          <!-- PRODUCT SINGLE -->
          <div class="col-md-3 col-sm-6" *ngFor="let listing of listings">
            <div class="product-item">
              <div class="product-item-thumbnail text-center mb-15" (click)="onProductClick(listing.blid)">
                <a class="product-item-thumbnail-link"></a>
                <img src="{{listing.big_image_url}} || assets/img/products/product-01.jpg" class="img-responsive center-cropped" alt="product image">
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <a class="h5" (click)="onProductClick(listing.blid)">{{listing.name}}</a>
                </div>

                <div class="col-xs-6 text-right">
                  <span class="h5 product-item-price">{{listing.price | currency:"USD":2}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / PRODUCTS ROW -->

        <!-- PAGINATION -->
        <div class="width-100">
          <div class="widget-pagination pull-left pl-15">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- / PAGINATION -->
      </div>
    </div>
  </div>
