<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 mt-30 mb-30 width-100 pull-left">
            <h3>About us</h3>
          </div>
          <div class="col-md-12">
            <p class="h4">
              Established in 2016, White Horse Vapor Denver has been committed to offering the highest quality e-liquids and vape hardware.
            </p>
            <br>
            <p class="h4">
              The Denver location was opened by owners Jay Evans and Anthony Acosta. Both smoked a pack and a half for nearly 20 years before finally making the switch to electronic cigarettes. After getting their first set-ups they found two e-liquids that changed
              their perspectives on vaping and officially got them off the traditional cigarettes. Anthony found “Clutch” a rich toffee flavor. Jay found “Barney Beats” an exotic fruity pebble flavor that has been the most vaped juice in the history of
              White Horse Vapor.
            </p>
            <br>
            <p class="h4">
              Chris Bruton, Store Manager, after trying multiple quit aids including Wellbutrin, patches and cold turkey, he started vaping in 2013 and has working in the industry since 2014 and strives to provide excellent customer service and product knowledge to
              help you through your vape journey.
            </p>
            <br>
            <p class="h4">
              Zabeda, Sales Lead, has been working at here since nearly the day we opened. One reviewer said this about her, “[Z]abeda was awesome. I came in complaining about issues with my former tank and she directed me to the perfect tank for me, she didn't try
              to up sell me just wanted me to get what I wanted.”
            </p>
            <br>
            <p class="h4">
              Matt, Sales Associate, he loves new things. Whenever a new product comes in he is the first to know what it can do. His product knowledge is growing and his customer service is his first priority.
            </p>
            <br>
            <p class="h4">
              White Horse Vapor started in 2012 by Dino Baccari in Providence, RI. Dino and his staff, Jay, Anthony and their staff are proud to produce a line of handcrafted E-Liquid that's of the highest quality. We use our E-Liquid in many different ways in various
              pieces of hardware and are extremely committed to providing you with the same satisfaction you get when taking a drag from a traditional cigarette. But the most important thing we offer to our customers goes far beyond the sale.
            </p>
            <br>
            <p class="h4">
              Our entire staff prides themselves on supporting our customers on their tobacco-free journey!
            </p>
          </div>

          <!-- PROMO BOX LARGE -->
          <!--
          <div class="col-md-12 mt-30">
            <div class="row">
              <div class="col-md-12">
                <div class="promo-box">
                  <img src="assets/img/products/composition-3.jpg" class="img-responsive width-100" alt="product image">
                </div>
              </div>
            </div>
          </div>
        -->
          <!-- / PROMO BOX LARGE -->

          <div class="clearfix"></div>

          <!-- SERVICES -->
          <div id="services" class="col-md-12 services mt-60">
            <div class="container-fluid">
              <div class="row pl-15 pr-15">
                <div class="col-md-4 wow fadeInLeft inverted info-box">
                  <div class="services-box text-center shadow">
                    <h4>Anthony</h4>
                    <p class="fixed-height">Smok Alien Box Mod with an Aspire Cleito 120, using Packed Lunch: a strawberry, kiwi, marshmallow.
                    </p>
                  </div>
                </div>

                <div class="col-md-4 wow fadeInDown info-box">
                  <div class="services-box text-center shadow">
                    <h4>Jay</h4>
                    <p class="fixed-height">Ijoy Captain PD270 with an Aspire Cleito 120, using Barney Beats (still): an exotic fruity pebbles concoction.
                    </p>
                  </div>
                </div>

                <div class="col-md-4 wow fadeInRight inverted info-box">
                  <div class="services-box text-center shadow">
                    <h4>Chris</h4>
                    <p class="fixed-height">Ijoy Captain PD270 with an Aspire Cleito 120, using Packed Biscuit: a strawberry kiwi marshmallow with a cinnamon danish.
                    </p>
                  </div>
                </div>

                <div class="col-md-4 wow fadeInLeft info-box">
                  <div class="services-box text-center shadow">
                    <h4>Zabeda</h4>
                    <p class="fixed-height">Aspire NX 75 Box Mod with an original Aspire Cleito, using Willis: a strawberry milkshake.
                    </p>
                  </div>
                </div>

                <div class="col-md-4 wow fadeInUp inverted info-box">
                  <div class="services-box text-center shadow">
                    <h4>Matt</h4>
                    <p class="fixed-height">Sigelei Kaos Spectrum with a Bushido II RDA, using Barney Beats: an exotic fruity pebbles concoction. dexter
                    </p>
                  </div>
                </div>

                <div class="col-md-4 wow fadeInRight info-box">
                  <div class="services-box text-center shadow">
                    <h4>Learn More About Us</h4>
                    <a class="btn btn-margin btn-default btn-lg hoverable" routerLink="/contact">contact</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- / SERVICES -->
        </div>
      </div>
    </div>
  </div>
