<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 mt-30 mb-30 width-100 pull-left">
            <h3>About us <span class="text-muted small smartphone-inline-fw">some text</span>
                            <a href="#" class="x-small pull-right mt-10">see more <span class="ti-arrow-right"></span></a>
                        </h3>
          </div>
          <div class="col-md-12">
            <div class="text-container">
              <p class="h4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
          </div>

          <!-- PROMO BOX LARGE -->
          <div class="col-md-12 mt-30">
            <div class="row">
              <div class="col-md-12">
                <div class="promo-box">
                  <img src="assets/img/products/composition-3.jpg" class="img-responsive width-100" alt="product image">
                </div>
              </div>
            </div>
          </div>
          <!-- / PROMO BOX LARGE -->

          <div class="clearfix"></div>

          <!-- SERVICES -->
          <div id="services" class="col-md-12 services mt-60">
            <div class="container-fluid">
              <div class="row pl-15 pr-15">
                <div class="col-md-4 wow fadeInLeft inverted">
                  <div class="services-box text-center shadow">
                    <span class="icon ti-video-clapper"></span>
                    <h4>storyboards</h4>
                    <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                    </p>
                    <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                  </div>
                </div>

                <div class="col-md-4 wow fadeInDown">
                  <div class="services-box text-center shadow">
                    <span class="icon ti-video-camera"></span>
                    <h4>Movies</h4>
                    <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                    </p>
                    <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                  </div>
                </div>

                <div class="col-md-4 wow fadeInRight inverted">
                  <div class="services-box text-center shadow">
                    <span class="icon ti-eraser"></span>
                    <h4>Post production</h4>
                    <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                    </p>
                    <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                  </div>
                </div>

                <div class="col-md-4 wow fadeInLeft">
                  <div class="services-box text-center shadow">
                    <span class="icon ti-music-alt"></span>
                    <h4>Music</h4>
                    <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                    </p>
                    <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                  </div>
                </div>

                <div class="col-md-4 wow fadeInUp inverted">
                  <div class="services-box text-center shadow">
                    <span class="icon ti-gallery"></span>
                    <h4>Photography</h4>
                    <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                    </p>
                    <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                  </div>
                </div>

                <div class="col-md-4 wow fadeInRight">
                  <div class="services-box text-center shadow">
                    <span class="icon ti-support"></span>
                    <h4>Technical support</h4>
                    <p class="fixed-height">Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                    </p>
                    <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#service-01">more</a>
                  </div>
                </div>
              </div>
            </div>
            <!--  SERVICE MODAL -->
            <div id="service-01" class="modal fade services-modal" role="dialog" tabindex="-1">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close" aria-hidden="true"></span></button>

              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content shadow">
                  <div class="modal-body">
                    <div class="post-entry post-entry-modal">

                      <div class="services-box text-center pb-60">
                        <span class="icon ti-music-alt"></span>
                        <h4>Music</h4>
                        <h3 class="mb-60">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h3>
                        <p>Lorem ipsum dolor sit amet, consectet adipiscing elit. Cras est urna, imperd eget sem at, pellentes que cursus elit.
                        </p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        </p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
                          dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        </p>

                        <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                          sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                          in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / SERVICE MODAL -->
          </div>
          <!-- / SERVICES -->
        </div>
      </div>
    </div>
  </div>
