/* You can add global styles to this file, and also import other style files */


/*
.center-cropped {
    object-fit: fill;
    object-position: center;
    height: auto;
    max-height: 300px;
    min-width: 100%;
}
*/

.center-cropped {
  min-width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

a:hover{
    cursor: pointer;
}

.hoverable:hover{
    cursor: pointer;
}
